* {
  line-height: 1.4em;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.w-65 {
  width: 65%;
}

.bg-light-yellow {
  background-color: #f1f5bc;
}

.bg-light-pink {
  background-color: #f7e4e4;
}

.bg-light-green {
  background-color: #e4f7e8;
}

.bg-light-blue {
  background-color: #d9d9fa;
}

.bg-light-skyblue {
  background-color: #d9f9fa;
}

.result-box {
	top: 50px;
	display: none;
}

.result-list {
	height: 200px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.active {
	display: block;
}

#calc-food, #calc-items {
	font-size: 20px;
	background: yellow;
	height: 40px;
}